
html {font-family: arial;}

h1 { 
	
	text-align: center;
 }



#p1 {color: darkgreen;}
		
#div1 {border-style: solid solid solid solid; border-color: = black;}
#div2 {border-style: solid; border-color: = black;}
rect {fill:rgb(0,0,225);stroke-width:10;stroke:rgb(0,0,0);}

img {width:700px}
h3{
	text-align: center;
	
}
